body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: url(../images/bg-desktop.svg)center center  repeat;
  background-color: hsl(257, 40%, 49%);
  background-size:cover;
  color: white;
  line-height: 1.5;
  transition: 0.3s;
  display: grid;
  place-items: center;
  width: 100%;
  
}
main{
  margin: 0 10rem;
}

section.main{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.central{
  padding-top: 5rem;
  width:  100%;
}
 
.letras p{
  line-height: 2;
}

 .letras h1{
  font-size: 4rem;
 }
 .letras button {
  font-size: 1.4rem;
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 1.4rem 5rem;
  background-color: white ;
  color: black;
 }

 @media only screen and (max-width: 800px)  {
  body{
    height: 100%;
  }
  main{
    margin: 0;
    
    padding: 0;
  }

  section.main{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .header img{
    padding-top: 1rem;
    padding-left: 1rem;
    width: 150px;
  }
  .central{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .central.image img{
    width: 300px;
  }
  
  .letras { 
    padding-top:  10px;
   
  }

  .letras h1{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
   }


 
  .letras p{
    margin-top: 1.5rem;
    line-height: 2;
    text-align: center;
    font-size: 1rem;
    padding: 0 20px;
    font-weight: 300;
  }
  .letras button {
    padding: 0.4rem 5rem;
    margin-top: 40px;
  }


 }



 .footer{
  display: flex;
  padding: 10px 10px;
  justify-content: flex-end;
 }

 .footer .roda{
  border-radius: 100%;
  border:solid 1px ;
  align-self:flex-end;
  margin-left: 20px;
  padding: 0.8rem 0.8rem;
 }

 .footer .roda i{
  font-size: 1rem;
 
 }
 @media only screen and (max-width: 800px)  {
  .footer{
    margin-top:  4rem;
   
    justify-content: center;
  }

 }